$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
	font-size: 18px;
	font-family: Roboto,sans-serif;
	font-weight: 400;
	color: #666;
}

.topnav-header {
  height: 130px;
	background-image: linear-gradient(-180deg,#293465,#111532);
	margin: 0;
}

.text-in-header {
	padding: 35px 0 100px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 1rem;
  min-width: 750px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 24px;
  font-weight: 100;
  color: #fff;
}

.text-in-header span {
  padding-top: 12px;
}

.icon-in-header-text {
  height: 50px;
  width: 200px;
  display: block;
  background: url("../images/cloudwan.png") no-repeat 50%;
  background-size: 200px 35px;
}

.main-content {
  padding-top: 40px;
  padding-bottom: 40px;
  margin: 0;
}

.top-half {
  margin-top: -70px;
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}

.top-half-no-collision-img {
  margin-top: -200px;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
}

.car-img-container {
  float: left;
  margin-top: 178px;
 	width: 300px;
 	padding-right: 15px;
 	padding-left: 15px;
}

.car-img-container .enclosed {
  padding: 30px 30px 10px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
}

.car-img-container img {
  width: 200px;
  height: 150px;
}

.collision-img-container {
  float: left;
  width: 400px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 15px;
}

.collision-img-container .enclosed {
  padding: 14px;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 4px;
}

.collision-img-container img {
  width: 340px;
  height: 340px;
}

.bottom-half {
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
}

.car-control-container {
  float: left;
  width: 600px;
 	padding-right: 15px;
 	padding-left: 15px;
 	margin-bottom: 15px;
}

.car-control-container .enclosed {
  padding: 0px 5px;
  background-color: #fff;
}

.table {
  border-spacing: 0 6px;
  border-collapse: separate;
  width: 100%;
}

.table tbody > tr > td {
  vertical-align: middle;
  padding: 10px 10px;
	border-top: 1px solid #e8e8e8;
  text-align: left;
}

.table tbody > tr:last-child > td {
  border-bottom: 1px solid #e8e8e8;
}

.table tbody > tr > td:first-child {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	border-left: 1px solid #e8e8e8;
}

.table tbody > tr > td:last-child {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	border-right: 1px solid #e8e8e8;
}

.large-select {
  height: 2em;
  font-size: 14px;
  background-color: #e5e9ed;
}

.glyphicon {
  margin-top: 5px;
  font-size: 32px;
  color: #485bb0;
}

.speed-wrapper {
  margin-top: -5px;
  display: inline-block;
}

.speed-icon img {
  width: 50px;
  height: 50px;
}

.speed-text {
  margin-top: -37px;
  text-align: center;
}

.lane-wrapper {
  display: inline-block;
}

.lane-icon img {
  width: 90px;
  height: 41px;
}

.lane-text {
  margin-top: -35px;
  height: 30px;
}

.lane-text-left {
  margin-left: 20px;
}

.lane-text-right {
  margin-left: 28px;
}

.lane-text-outside {
  margin-left: 35px;
}

.battery-wrapper {
  display: inline-block;
}

.battery-icon img {
  width: 90px;
  height: 38px;
}

.battery-text {
  margin-top: -32px;
  margin-left: -5px;
  text-align: center;
}

.tile-number-wrapper {
  display: inline-block;
}

.tile-number-icon img {
  width: 40px;
  height: 40px;
}

.tile-number-text {
  margin-top: -33px;
  text-align: center;
}

.tile-img {
  margin-left: 25px;
  width: 75px;
  height: 45px;
}
