<!--
Copyright 2018 NTT Group

Permission is hereby granted, free of charge, to any person obtaining a copy of this
software and associated documentation files (the "Software"), to deal in the Software
without restriction, including without limitation the rights to use, copy, modify,
merge, publish, distribute, sublicense, and/or sell copies of the Software, and to
permit persons to whom the Software is furnished to do so, subject to the following
conditions:

The above copyright notice and this permission notice shall be included in all copies
or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED,
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR
PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE
FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR
OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER
DEALINGS IN THE SOFTWARE.
-->

<div ng-if="showCollisionImg" class="top-half">
  <div class="car-img-container">
    <div class="enclosed">
      <img ng-src="{{ car1img }}">
    </div>
  </div>
  <div class="collision-img-container">
    <div class="enclosed">
      <img ng-src="{{ imageUrl }}">
    </div>
  </div>
  <div class="car-img-container">
    <div class="enclosed">
      <img ng-src="{{ car2img }}">
    </div>
  </div>
  <br style="clear: left" />
</div>

<div ng-if="!showCollisionImg" class="top-half-no-collision-img">
  <div class="car-img-container">
    <div class="enclosed">
      <img ng-src="{{ car1img }}">
    </div>
  </div>
  <div class="car-img-container">
    <div class="enclosed">
      <img ng-src="{{ car2img }}">
    </div>
  </div>
  <br style="clear: left" />
</div>

<div class="bottom-half">

  <!-- Car1 -->
  <div class="car-control-container tableview">
    <div class="enclosed">
      <table class="table">
        <tr>
          <td>Car 1</td>
          <td>
            <select class="large-select" ng-model="car1BtId" ng-change="swapCar(1)">
              <option ng-repeat="x in cars" value="{{x.btid}}">{{x.model}}</option>
            </select>
          </td>
          <td>
            <a ng-click="swapCar(1)" class="btn btn-link">
              <span class="glyphicon glyphicon-repeat"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>Speed</td>
          <td>
            <div class="speed-wrapper">
              <div class="speed-icon">
                <img class="" ng-src="{{ speedimg }}">
              </div>
              <div class="speed-text">
                {{ status[1].carSpeed }}
              </div>
            </div>
          </td>
          <td>
            <a ng-click="changeSpeedDown(1)" class="btn btn-link">
              <span class="glyphicon glyphicon-circle-arrow-down"></span>
            </a>
            <a ng-click="changeSpeedUp(1)" class="btn btn-link">
              <span class="glyphicon glyphicon-circle-arrow-up"></span>
            </a>
            <a ng-click="changeSpeedStop(1)" class="btn btn-link">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>Lane</td>
          <td>
            <div class="lane-wrapper">
              <div class="lane-icon">
                <img class="" ng-src="{{ laneimg }}">
              </div>
              <div class="lane-text">
                <span class="lane-text-left">
                  {{ status[1].laneNo }}
                </span>
                <span class="lane-text-right">
                  {{ status[1].laneOffset }}
                </span>
                <!--
                <span class="lane-text-outside">
                  <span ng-if="status[1].laneNo !== status[1].laneOffset" class="glyphicon glyphicon-warning-sign" style="display: inline"></span>
                </span>
                -->
              </div>
            </div>
          </td>
          <td>
            <a ng-click="changeLaneLeft(1)" class="btn btn-link">
              <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
            <a ng-click="changeLaneRight(1)" class="btn btn-link">
              <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>Battery</td>
          <td>
            <div class="battery-wrapper">
              <div class="battery-icon">
                <img class="" ng-src="{{ car1batteryimg }}">
              </div>
              <div class="battery-text">
                {{ status[1].carBatteryLevel }}
              </div>
            </div>
          </td>
          <td>
            <a ng-click="requestLevel(1)" class="btn btn-link">
              <span class="glyphicon glyphicon-repeat"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>Tile</td>
          <td>
            <div class="tile-number-wrapper">
              <div class="tile-number-icon">
                <img class="" ng-src="{{ tilenumberimg }}">
              </div>
              <div class="tile-number-text">
                {{ status[1].posTileNo }}
              </div>
            </div>
            <img class="tile-img" ng-src="{{ car1tileimg }}">
          </td>
          <td>
            <a ng-click="toggleCollisionImage()" class="btn btn-link">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </div>

  <!-- Car2 -->
  <div class="car-control-container tableview">
    <div class="enclosed">
      <table class="table">
        <tr>
          <td>Car 2</td>
          <td>
            <select class="large-select" ng-model="car2BtId" ng-change="swapCar(2)">
              <option ng-repeat="x in cars" value="{{x.btid}}">{{x.model}}</option>
            </select>
          </td>
          <td>
            <a ng-click="swapCar(2)" class="btn btn-link">
              <span class="glyphicon glyphicon-repeat"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>Speed</td>
          <td>
            <div class="speed-wrapper">
              <div class="speed-icon">
                <img class="" ng-src="{{ speedimg }}">
              </div>
              <div class="speed-text">
                {{ status[2].carSpeed }}
              </div>
            </div>
          </td>
          <td>
            <a ng-click="changeSpeedDown(2)" class="btn btn-link">
              <span class="glyphicon glyphicon-circle-arrow-down"></span>
            </a>
            <a ng-click="changeSpeedUp(2)" class="btn btn-link">
              <span class="glyphicon glyphicon-circle-arrow-up"></span>
            </a>
            <a ng-click="changeSpeedStop(2)" class="btn btn-link">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>Lane</td>
          <td>
            <div class="lane-wrapper">
              <div class="lane-icon">
                <img class="" ng-src="{{ laneimg }}">
              </div>
              <div class="lane-text">
                <span class="lane-text-left">
                  {{ status[2].laneNo }}
                </span>
                <span class="lane-text-right">
                  {{ status[2].laneOffset }}
                </span>
                <!--
                <span class="lane-text-outside">
                  <span ng-if="status[2].laneNo !== status[2].laneOffset" class="glyphicon glyphicon-warning-sign"></span>
                </span>
                -->
              </div>
            </div>
          </td>
          <td>
            <a ng-click="changeLaneLeft(2)" class="btn btn-link">
              <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </a>
            <a ng-click="changeLaneRight(2)" class="btn btn-link">
              <span class="glyphicon glyphicon-circle-arrow-right"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>Battery</td>
          <td>
            <div class="battery-wrapper">
              <div class="battery-icon">
                <img class="" ng-src="{{ car2batteryimg }}">
              </div>
              <div class="battery-text">
                {{ status[2].carBatteryLevel }}
              </div>
            </div>
          </td>
          <td>
            <a ng-click="requestLevel(2)" class="btn btn-link">
              <span class="glyphicon glyphicon-repeat"></span>
            </a>
          </td>
        </tr>
        <tr>
          <td>Tile</td>
          <td>
            <div class="tile-number-wrapper">
              <div class="tile-number-icon">
                <img class="" ng-src="{{ tilenumberimg }}">
              </div>
              <div class="tile-number-text">
                {{ status[2].posTileNo }}
              </div>
            </div>
            <img class="tile-img" ng-src="{{ car2tileimg }}">
          </td>
          <td>
            <a ng-click="toggleCollisionImage()" class="btn btn-link">
              <span class="glyphicon glyphicon-ban-circle"></span>
            </a>
          </td>
        </tr>
      </table>
    </div>
    <br style="clear: left" />
  </div>
</div>
