<!--
Copyright 2018 NTT Group

Permission is hereby granted, free of charge, to any person obtaining a copy of this 
software and associated documentation files (the "Software"), to deal in the Software 
without restriction, including without limitation the rights to use, copy, modify, 
merge, publish, distribute, sublicense, and/or sell copies of the Software, and to 
permit persons to whom the Software is furnished to do so, subject to the following 
conditions:

The above copyright notice and this permission notice shall be included in all copies 
or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, 
INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR 
PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE 
FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR 
OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER 
DEALINGS IN THE SOFTWARE.
-->

<div>
  <p>
    <a class="btn btn-lg btn-success" ng-click="togglePoll()">{{ text }}</a>
  </p>
  <br>
  <p>
    <table class="table table-striped">
      <tr>
        <th>Sensor</th>
        <th colspan="2">Car 1</th>
        <th colspan="2">Car 2</th>
        <th colspan="2">Car 3</th>
      </tr>
      <tr>
        <td>Car Speed</td>
        <!-- Car1 -->
        <td>{{ status[0].carSpeed }}</td>
        <td>
          <a ng-click="changeSpeedDown('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
          </a>
          <a ng-click="changeSpeedUp('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
          </a>
          <a ng-click="changeSpeedStop('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-off"></span>
          </a>
        </td>
        <!-- Car2 -->
        <td>{{ status[1].carSpeed }}</td>
        <td>
          <a ng-click="changeSpeedDown('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
          </a>
          <a ng-click="changeSpeedUp('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
          </a>
          <a ng-click="changeSpeedStop('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-off"></span>
          </a>
        </td>
        <!-- Car3 -->
        <td>{{ status[2].carSpeed }}</td>
        <td>
          <a ng-click="changeSpeedDown('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-down"></span>
          </a>
          <a ng-click="changeSpeedUp('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-up"></span>
          </a>
          <a ng-click="changeSpeedStop('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-off"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Car Lane</td>
        <!-- Car1 -->
        <td>{{ status[0].laneNo }}({{ status[0].laneOffset }})</td>
        <td>
          <a ng-click="changeLaneLeft('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
          </a>
          <a ng-click="changeLaneRight('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </a>
        </td>
        <!-- Car2 -->
        <td>{{ status[1].laneNo }}({{ status[1].laneOffset }})</td>
        <td>
          <a ng-click="changeLaneLeft('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
          </a>
          <a ng-click="changeLaneRight('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </a>
        </td>
        <!-- Car3 -->
        <td>{{ status[2].laneNo }}({{ status[2].laneOffset }})</td>
        <td>
          <a ng-click="changeLaneLeft('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-left"></span>
          </a>
          <a ng-click="changeLaneRight('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-circle-arrow-right"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Car Lights</td>
        <!-- Car1 -->
        <td>N/A</td>
        <td>
          <a ng-click="changeLight('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-star"></span>
          </a>
          <a ng-click="changeLightPattern('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-asterisk"></span>
          </a>
        </td>
        <!-- Car2 -->
        <td>N/A</td>
        <td>
          <a ng-click="changeLight('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-star"></span>
          </a>
          <a ng-click="changeLightPattern('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-asterisk"></span>
          </a>
        </td>
        <!-- Car3 -->
        <td>N/A</td>
        <td>
          <a ng-click="changeLight('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-star"></span>
          </a>
          <a ng-click="changeLightPattern('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-asterisk"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Car Version</td>
        <!-- Car1 -->
        <td>{{ status[0].carVersion }}</td>
        <td>
          <a ng-click="requestVersion('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-repeat"></span>
          </a>
        </td>
        <!-- Car2 -->
        <td>{{ status[1].carVersion }}</td>
        <td>
          <a ng-click="requestVersion('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-repeat"></span>
          </a>
        </td>
        <!-- Car3 -->
        <td>{{ status[2].carVersion }}</td>
        <td>
          <a ng-click="requestVersion('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-repeat"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Car Battery Level</td>
        <!-- Car1 -->
        <td>{{ status[0].carBatteryLevel }}</td>
        <td>
          <a ng-click="requestLevel('1')" class="btn btn-link">
            <span class="glyphicon glyphicon-repeat"></span>
          </a>
        </td>
        <!-- Car2 -->
        <td>{{ status[1].carBatteryLevel }}</td>
        <td>
          <a ng-click="requestLevel('2')" class="btn btn-link">
            <span class="glyphicon glyphicon-repeat"></span>
          </a>
        </td>
        <!-- Car3 -->
        <td>{{ status[2].carBatteryLevel }}</td>
        <td>
          <a ng-click="requestLevel('3')" class="btn btn-link">
            <span class="glyphicon glyphicon-repeat"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Position Timestamp</td>
        <!-- Car1 -->
        <td>{{ status[0].msgID }}</td>
        <td>
        </td>
        <!-- Car2 -->
        <td>{{ status[1].msgID }}</td>
        <td>
        </td>
        <!-- Car3 -->
        <td>{{ status[2].msgID }}</td>
        <td>
        </td>
      </tr>
      <tr>
        <td>Position Tile No</td>
        <!-- Car1 -->
        <td>{{ status[0].posTileNo }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
        <!-- Car2 -->
        <td>{{ status[1].posTileNo }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
        <!-- Car3 -->
        <td>{{ status[2].posTileNo }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Position Tile Type</td>
        <!-- Car1 -->
        <td>{{ status[0].posTileType }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
        <!-- Car2 -->
        <td>{{ status[1].posTileType }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
        <!-- Car3 -->
        <td>{{ status[2].posTileType }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
      </tr>
      <tr>
        <td>Position Location</td>
        <!-- Car1 -->
        <td>{{ status[0].posLocation }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
        <!-- Car2 -->
        <td>{{ status[1].posLocation }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
        <!-- Car3 -->
        <td>{{ status[2].posLocation }}</td>
        <td>
          <a class="btn btn-link">
            <span class="glyphicon glyphicon-xxx"></span>
          </a>
        </td>
      </tr>
    </table>
  </p>
</div>