<div class="topnav-header">
  <div class="text-in-header">
    <a class="icon-in-header-text"></a>
    <span>Car Collision Dection Service</span>
  </div>
</div>
<div class=main-content">
  <div class="container tableview">
    <div class="enclosed">
      <table class="table">
        <thead>
        <tr>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="container tableview">
    <div class="enclosed">
      <table class="table">
        <thead>
        <tr>
          <td></td>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
